<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/img/weatherIcon.png">
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Obten el pronostico del clima en este sitio</p>

            <form>
                <input placeholder="Lugar">
                <button>
                    Buscar
                </button>
            </form>
            <br>
            <p id="errroMsg"></p>
            <p id="message"></p>
            <p id="location"></p>
            <p id="weather"></p>
            <p id="temperature"></p>
            <br>
            <p id="tomorrowWeather" <p style="color:blue;"></p>
        </div>
    
        {{>footer}}

         <script src="/js/app.js"></script>
    </body>
</html>